<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>

    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/favicon.ico?v=2' />

    <meta name="keywords" content="sice 2020, rmutl, sice2020, Instrument, Control Engineers, measurement, system analysis, ecti, sice, Rajamangala, Conference, University, Engineering, ประชุม, วิชาการ, การประชุม, การประชุมวิชาการ, ประชุมวิชาการ, ประชุมวิชาการ2020, ประชุมวิชาการ2562, ประชุมวิชาการ 2562, ประชุมวิชาการ 2020, ราชมงคล, เชียงใหม่, Chiang Mai">
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
    {% seo %}

    {% asset main.css %}
  </head>

  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper">

      <!-- dim page when mobile navigation is shown -->
      <div class="overlay"></div>

      <!-- MOBILE NAVIGATION BUTTON -->
      <button type="button" class="visible-xs hamburger is-closed">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>

      <div class="container" id="page-content-wrapper">

        <div class="row visible-xs" id="mobile-spacer">
          <span class="glyphicon glyphicon-menu-left"></span> Navigation
        </div>
        <!-- JUMBOTRON -->
        <div class="row">
          <a href="index.html"><header id="banner" class="col-xs-12 col-sm-12 col-lg-12">
            {% asset sicebanner.png class:'img-rounded img-responsive' alt:'{{ site.logo_alt }}' %}
          </header></a>
        </div>

        <div class="row">
          {% include navbar.html menu=site.data.navbar %}

          <!-- CONTENT -->
          <div class="col-sm-9 col-lg-9">
            {{ content }}
          </div>
        </div>

        <!-- FOOTER -->
        <div class="row">
          <div class="footer">
            <div class="col-sm-offset-3 col-md-8 col-md-offset-3">
              <p>The SICE 2020 Website is modified from <a href="https://github.com/conference-websites/MobiHoc-2018" target="_blank">MobiHoc 2018</a> under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons License</a>. [<a href="https://github.com/pratch/SICE-2020" target="_blank">Source</a>]</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <span id="top-link-block" class="hidden">
      <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
      </a>
    </span>

    {% asset main.js %}
  </body>
</html>
